@charset "UTF-8";

  @import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

  *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

  }


.principal{
    background: linear-gradient(pink, pink );
}

ul{
    list-style-type: none;
    display: flex;
}
 nav a{
    color: rgb(255, 0, 128);
    font-size: 0.8em;
    text-decoration: none;
    margin-right: 8px;
    font-size: 2em;
}
main{
    padding: 20px;
    max-width: 1200px;
    margin: 100px auto;
    background-color: rgb(248, 245, 247);
}
h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 3em;
    background-color: rgba(241, 164, 222, 0.952);
    margin-bottom: 30px;
}
.imgla img { 
    width: 6%;

}

img{
    width: 40vh;
    
}
.imgla{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background-color: rgb(245, 240, 242);
    height: 15vh;
}

p {
    font-size: 20px;
}
.btn_social {
    width: 100%;
    float: left;
    display: flex;
    margin: auto;
}

.btn_social ul {
    width: auto;
    margin: auto;
    float: left;
    display: block;
}

.btn_social ul li {
    position: relative;
    background: #555555;
    list-style: none;
    float: left;
    margin: 5px;
    z-index: 1;
    overflow: hidden;
    border-radius: 3px;
    font-size: 1.5em;
    text-align: center;
}

.btn_social ul li a {
    width: 50px;
    height: 50px;
    line-height: 53px;
    display: block;
    text-decoration: none;
    color: #fff;
    transition: .4s;
}

.btn_social ul li::before {
    transition: 0.4s;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 90%;
    left: 0;
    background: #eb639c;
    z-index: -1;
    transform: scale(1);
    transition: .4s;
}

.btn_social ul li:hover::before {
    transition: 0.4s;
    top: 0%;
}

.btn_social ul li a:hover {
    color: #555555;
}
